{% extends 'core/base.html' %}
{% load static %}
{% block title %}Followers{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/css/followers_page.css' %}">

<div class="followers-container">
  <h2>Followers of {{ profile_user.username }}</h2>
  <p class="followers-count">Total Followers: {{ followers_count }}</p>

  {% if followers %}
    <ul class="followers-list">
      {% for f in followers %}
        <li>
          <a href="{% url 'profile_details_guest' f.follower.username %}" class="follower-link">
            {{ f.follower.username }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No followers yet.</p>
  {% endif %}
</div>
{% endblock %}