{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/css/forgot_password.css' %}">

<div class="container">
   {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <div class="right-sidebar">
        <h2>Reset Password</h2>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" required>
            </p>
            <p>
                <label for="id_new_password">New Password:</label>
                <input type="password" name="new_password" id="id_new_password" required>
            </p>
            <p>
                <label for="id_confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="id_confirm_password" required>
            </p>
            <button type="submit">Change Password</button>
        </form>
        <p class="text-center mt-3">
            Back to   <a href="{% url 'login' %}" class="link-custom">Login</a>
        </p>
    </div>
</div>
{% endblock %}